.App {
  text-align: center;
  height: 100%
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.site-layout {
  background: white;
}

.conversation-box {
  padding: 10px;
  margin: 10px;
  min-height: 740px;
  max-height: 740px;
  border-radius: 10px;
  background: #F6F6F6;
  overflow: auto;
}
.message-input {
  background: #F6F6F6;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}

.macros-card {
  padding-top: 10px;
  margin: 20px;
  border-radius: 10px;
}

.left-bubble {
  text-align: left;
  background: white;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.right-bubble {
  background: #E75823;
  text-align: right;
  padding: 10px;
  margin: 10px;
  color: white;
  border-radius: 10px;
}

.macros {
  height: 90vh;
  background: #F6F6F6;
  border-radius: 10px;
  padding-top: 5px;
  margin-top: 10px
}